@media screen and (max-width: 1000px) {

	ul {display: block;}

	.error, .success {
		top: 55px;
	}

	.row {margin-top: 100px;}
	
	.cols1, .cols2, .cols3, .cols4, .cols5, .cols6, .cols7, .cols8, .cols9, .cols10, .cols11, .cols12, 
	.g1, .g2, .g3, .g4, .g5, .g6, .g7 .g8, .g9, .g10 .g11, .g12 {
		display: block;
		float: none;
		vertical-align: top;
		margin: 20px auto;
		padding-bottom: 10px;
		width: 95%;
		/*box-sizing: border-box;*/
		/*margin: 15px 0;*/
		/*padding: 0 10px;*/
		/*float: left;
		position: relative;*/
	}

	.frame, .frame0, .hb, .hb0 {
		border-radius: 0;
	}

	.frame {
		margin: 35px auto;
	}

	.bb {border-radius: 0;}



body {
	background: none;
	background-color: #252525;
}


/*.inline-block {
	display: block;
}

.left {
	float: none;
}*/



} /* Mobile */


@media screen and (max-width: 1260px) {
	
	.cols1, .cols2, .cols3, .cols4, .cols5, .cols6, .cols7, .cols8, .cols9, .cols10, .cols11, .cols12, 
	.g1, .g2, .g3, .g4, .g5, .g6, .g7 .g8, .g9, .g10 .g11, .g12 {
		display: block;
		float: none;
		vertical-align: top;
		margin: 20px auto;
		padding-bottom: 10px;
		width: 95%;
	}

} /* Mobile < 1366px */